<form [formGroup]="form">
    <div class="container">
        <div class="form-field">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>
            <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                <div *ngIf="name?.errors?.['required']">Name is required</div>
                <div *ngIf="name?.errors?.['minlength']">Name should be at least 3 characters</div>
                <div *ngIf="name?.errors?.['maxlength']">Name should be at most 10 characters</div>
                <div *ngIf="name?.errors?.['onlyAlphabet']">Name should be only alphabet</div>
            </div>
        </div>
        <div class="form-field">
            <!-- <label>Email</label>
        <br>
        <input formControlName="email" type="text"> -->
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="text">
            </mat-form-field>
            <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
                <div *ngIf="email?.errors?.['required']">Email is required</div>
                <div *ngIf="email?.errors?.['email']">Invalid email</div>
            </div>
        </div>
        <div class="form-field">

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
            <div *ngIf="password?.touched && password?.invalid">
                <div *ngIf="password?.errors?.['required']" id="error">Password is required</div>

                <div *ngIf="password?.errors?.['minlength']; then invalidMin else validMin"></div>
                <ng-template #invalidMin>
                    <div id="error">Password should be at least 8 characters</div>
                </ng-template>
                <ng-template #validMin>
                    <div *ngIf="password?.value !==''" id="valid">Password should be at least 8 characters ✔</div>
                </ng-template>

                <div *ngIf="password?.errors?.['maxlength']" id="error">Password should be at most 15 characters</div>

                <div *ngIf="password?.errors?.['containUpperCase'] then invalidUpper else validUpper"></div>
                <ng-template #invalidUpper>
                    <div id="error">Password should contains upper case</div>
                </ng-template>
                <ng-template #validUpper>
                    <div *ngIf="password?.value !==''" id="valid">Password should contains upper case ✔</div>
                </ng-template>

                <div *ngIf="password?.errors?.['containSpecialCharacter'] then invalidSpec else validSpec"></div>
                <ng-template #invalidSpec>
                    <div id="error">Password should contains special character</div>
                </ng-template>
                <ng-template #validSpec>
                    <div *ngIf="password?.value !==''" id="valid">Password should contains special character ✔</div>
                </ng-template>

                <div *ngIf="password?.errors?.['containNumber']then invalidNum else validNum"></div>
                <ng-template #invalidNum>
                    <div id="error">Password should contain numbers</div>
                </ng-template>
                <ng-template #validNum>
                    <div *ngIf="password?.value !==''" id="valid">Password should contain numbers ✔</div>
                </ng-template>
                <div *ngIf="password?.errors?.['noSpaces']" id="error">Password can't contain spaces</div>
            </div>
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input formControlName="confirmPw" matInput type="password">
            </mat-form-field>
            <div *ngIf="confirmPw?.touched  && form?.errors?.['matchPassword']" class="alert alert-danger">
                <!-- <div *ngIf="confirmPw?.errors?.['required']">Password is required</div> -->
                <div *ngIf="form?.errors?.['matchPassword']">Passwords didn't match</div>
            </div>
        </div>
        <div class="form-field full-width">
            <mat-form-field class="input-field">
                <mat-label> Phone number</mat-label>
                <input formControlName="phone" matInput type="text" phoneNumberMask>
            </mat-form-field>
            <div *ngIf="phone?.touched && phone?.invalid" class="alert alert-danger">
                <div *ngIf="phone?.errors?.['numericFormat']">Phone number should be only numeric</div>
            </div>
        </div>

        <div class="form-field">
            <!-- <label for="">Country</label>
        <br>
        <select formControlName="country">
            <option value=""></option>
            <option *ngFor="let country of countryList" [value]="country">{{country}}</option>
        </select> -->
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select formControlName="country">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let city of changeCountry()" [value]="city">{{city}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="city?.touched && city?.invalid " class="alert alert-danger">
                <div *ngIf="city?.errors?.['required']">City is required</div>
            </div>
        </div>
        <div class="form-field full-width">
            <mat-form-field class="input-field">
                <mat-label>Birthdate</mat-label>
                <input formControlName="birthdate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div *ngIf="birthdate?.touched && birthdate?.invalid" class="alert alert-danger">
                <div *ngIf="birthdate?.errors?.['required']">Birthdate is required</div>
                <div *ngIf="birthdate?.errors?.['notUnderAge']">You should be +18 to submit this form</div>
                <div *ngIf="birthdate?.errors?.['notOverage']">You should be under 60 to submit this form</div>
                <div *ngIf="birthdate?.errors?.['notOverDate']">Haha you didn't born yet !?</div>
            </div>
        </div>

        <div class="form-field">
            <!-- <input formControlName="gender" type="radio" name="gender" value="male" (change)="changeGender()">
        <label>Male</label>
        <br>
        <input formControlName="gender" type="radio" name="gender" value="female" (change)="changeGender()">
        <label>Female</label> -->
            <mat-radio-group formControlName="gender" (change)="changeGender()" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="gender?.touched && gender?.invalid" class="alert alert-danger">
                <div *ngIf="gender?.errors?.['required']">Gender is required</div>
            </div>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Military status</mat-label>
                <mat-select formControlName="militarySt">
                    <mat-option value=""></mat-option>
                    <mat-option value="Completed">Completed</mat-option>
                    <mat-option value="Exempted">Exempted</mat-option>
                    <mat-option value="postponed">postponed</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="militarySt?.touched && militarySt?.invalid" class="alert alert-danger">
                <div *ngIf="militarySt?.errors?.['required']">Military stauts is required</div>
            </div>
        </div>
        <!-- <button (click)="openDialog()" [disabled]="form.invalid">Submit</button> -->
        <!-- <button (click)="reset()">Reset</button> -->
        <div class="button-group">
            <div class="submit-btn">
                <button mat-raised-button color="primary" (click)="openDialog()"
                    [disabled]="form.invalid">Submit</button>
            </div>
            <div class="reset-btn">
                <button mat-raised-button color="warn" (click)="reset()">Reset</button>
            </div>
        </div>

    </div>
    <!-- <br>
    {{form.value|json}} -->
</form>