<form [formGroup]="formBirth">
    <div class="container">
        <div class="form-field full-width">
            <mat-form-field class="input-field">
                <mat-label>Birthdate</mat-label>
                <input formControlName="birthdate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div *ngIf="birthdate?.touched && birthdate?.invalid" class="alert alert-danger">
            <div *ngIf="birthdate?.errors?.['required']">Birthdate is required</div>
            <div *ngIf="birthdate?.errors?.['notUnderAge']">You should be +18 to submit this form</div>
            <div *ngIf="birthdate?.errors?.['notOverage']">You should be under 60 to submit this form</div>
            <div *ngIf="birthdate?.errors?.['notOverDate']">Haha you didn't born yet !?</div>
        </div>

        <div class="form-field">
            <mat-radio-group formControlName="gender" (change)="changeGender()" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="gender?.touched && gender?.invalid" class="alert alert-danger">
                <div *ngIf="gender?.errors?.['required']">Gender is required</div>
            </div>
        </div>
        <div class="form-field">
            <mat-form-field class="select-input">
                <mat-label>Military status</mat-label>
                <mat-select formControlName="militarySt">
                    <mat-option value=""></mat-option>
                    <mat-option value="Completed">Completed</mat-option>
                    <mat-option value="Exempted">Exempted</mat-option>
                    <mat-option value="postponed">postponed</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="militarySt?.touched && militarySt?.invalid" class="alert alert-danger">
                <div *ngIf="militarySt?.errors?.['required']">Military stauts is required</div>
            </div>
        </div>
        <div class="button-group">
            <div class="back-btn">
                <button type="button" mat-raised-button color="primary" (click)="back()">Back</button>
            </div>
            <div class="next-btn">
                <button type="button" mat-raised-button color="primary" (click)="next()"
                    [disabled]="formBirth.invalid">Next</button>
            </div>
        </div>

    </div>

</form>